body {
  background: #234647;
  background: url('files/ditheredleaves.png');
  font-family: "Candara", "Open Sans", sans-serif;
  font-size:16px;
  color: white;
}
  
a {
    color: #0783b9;
}
  
.tiny {
  font-size: 9px;
  margin: 0 auto;
  text-align: center;
}
  
/*Everything in the article box goes in this*/
main {
  width: 750px;
  border: 3px solid black;
  margin: 0 auto;
  top: 0px;
  }
  
header {
  background: black;
  height: 300px;
  border-bottom: 3px solid black;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,0.7)), url("/img/pond.gif"); /*Header image -- replace with your own!*/
  background-size:cover;
  }
  
/*This and the header-title class are deprecated now that this style uses a background image for the header div.*/
/*header img {
  display: block;
  opacity: 0.35;
  width: 100%;
  height: 100%;
  overflow: hidden;
  }
*/

 /*If you want to use a smaller title or normal text, add header p or header h4 or whatever to the list*/
header h2, header h3, header h1 {
  font-weight: bold;
  color: white;
  text-align: center;
  border: 0px solid green;
  margin: 18% auto; /*approx centered*/
  opacity: 0.999999;
}

nav {
  background: black;
  padding: 10px;
  border-bottom: 3px solid black;
}
  
nav a {
  color: white;
  padding: 3px;
  margin-left: 5px;
  margin-right:5px;
  text-decoration: none;
  font-size:17px;
  
  border-radius: 3px;
  
  background: url('files/ditheredleaves.png');
}

nav a:hover{
  color: white;
  padding: 3px;
  margin-left: 5px;
  margin-right:5px;
  text-decoration: none;
  font-size:17px;
  
  background: #63995f;
}

article {
  padding: 15px;
  margin: 0 auto;
  background: #222222;
  
  height: 800px;
  }
  
/*Prevent overflow of large images in article text areas.*/
article img {
  max-width: 100%;
  height: auto;
  }
  
footer {
  background: black;
  padding: 20px;
  padding-top:5px;
  padding-bottom:5px;
  border-top: 3px solid black;
  font-size:14px;
  }
  
  
/*For narrow screens*/
@media(max-width: 790px) {
  main {
    width: 95%;
    }
  header h1, header h2, header h3 { /*Vertical centering gets wonky when the box is variable width*/
    margin: 20% 5% auto;
    }
  }  

/*Mobile compatibility*/
@media(orientation: portrait) {
  main {
    width: 95%;}
  header {
    height:230px;
    }
  header h1, header h2, header h3 {
    margin: 20% 3% auto;
    }
  }