@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-color: rgb(23, 5, 57);


  font:25px "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  
  margin: 5% 30%;
  /* padding: 1% 20%; */
  text-align: justify;

  background-image: url('../../public/ditheredleaves.png');
  background-size: 100%;
  background-repeat: repeat-y;
  text-align: center;

}

div {

  background-color: #6faf69;
  background-image: url('../../public/dithered-image.png');
  background-size: auto;

  border-radius: 5px;

  padding: 15px;
  /* padding-top: 5px; */

  color: #f6fadd;
}


h1, h2, h2, h4, h2, h6 {
  text-transform: capitalize;
  /* text-decoration-line: underline; */
}


a {
  color: #f4dea2;

  text-decoration-line: none;
  text-transform: capitalize;


}

a:hover {
  color: #acc7f6;
  text-transform: uppercase;

  text-decoration-line: underline;
  text-decoration-color: #b2b4a8;
}

img {
  width: 20%;
  height: auto;
  border-radius: 5px;
  margin: 15px;
}

ul {
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}