@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Micro+5&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: myFirstFont;
  src: url(./assets/PlayfulNotes-Bold.otf), url(../assets/PlayfulNotes-Bold.ttf);
  /* font-weight: bolder; */

  font-style: normal;
}

body{
  background-image: url('../../public/ditheredleaves.png');
  background-size: 100%;
  background-repeat: repeat-y;

  font-family: "myFirstFont", 'Courier New', Courier, monospace;
  
  color: white;

}

p{
  font-weight: bold;

}
div{
  font-size: x-large;
  
  background-color: #87af69d8;
  background-image: url('../../public/divbackround6.png');
  
  background-size: auto;

  background-repeat: repeat-y;
  
  border-radius: 10px;

  padding: 1% 5%;
  margin: 5% 10%;
  
  color: #fdfdfd;
  
  text-align: center;
  
}


img{
  border-radius: 5px;
}


h1,h2,h3,h4,h5,h6{
  text-transform: capitalize;
  color: #f0ffc4;
  font-weight: bolder;
}

ul {
  padding-left: 100px;
  text-align: left;
  list-style-image: url('../assets/branchone15dithered.png');

}

a {
  color: #10200b;
  font-weight: bolder;

  text-decoration-line: none;
  text-transform: capitalize;

}



a:hover {
  color: #317af8;

  text-transform: uppercase;

  text-decoration-line: underline;
  text-decoration-color: #b2b4a8;
}


@media only screen and (max-width: 500px) {

  ul{
    padding-left: 50px;
  }
  
}

@media only screen and (min-width: 1000px) {
  div {
    margin: 5% 25%;
  }
}


@media only screen and (min-width: 2000px) {
  div {
    margin: 5% 35%;
  }
}