---
import '../styles/global.css';
import BlogsPageLayout from '../layouts/blogsPageLayout.astro';

---

<BlogsPageLayout pagetitle={"blog"}, title={"blog"}, subtitle={"test"}, description={"test"}>

    <p>test</p>


</BlogsPageLayout>