---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">


    <title>Articles I loved</title>
</head>

<body>
    <Navigation />
    
    <div>

        <h1>articles I love</h1>

        <p><a href="https://tonsky.me/blog/disenchantment/"> Software disenchantment</a> description placer holder</p>
        <p><a href="https://solar.lowtechmagazine.com/about/the-solar-website/"> the solar website</a> description
            placer holder</p>
        <p><a href="https://www.notechmagazine.com/"> notechmagazine </a> description placer holder</p>


    </div>

</body>

</html>