---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Neocities from '../components/neocities.astro';
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./styles/global.css"> -->


    <title>resources</title>
</head>

<body>

    <Navigation />

    <div class="homePage">

        <h1>welcome!</h1>

        <h1>Semii</h1>
        <img id="profileImg" src="../public/meInAHoody.jpg"
            alt="me in a light blue Hoodie with the word PINK across the chest">

        <p>
            Hi!
            <br>
            I'm Semii!
        </p>

        <p>Some fun facts about me:</p>
        <ul>
            <li>I enjoy staying active</li>
            <li>I've have several jobs in education</li>
            <li>I find yard work satisfying</li>
        </ul>

        <Neocities />
    </div>


</body>

</html>

<style>

</style>