---
import '../styles/global.css';
import BasicLayout from '../layouts/basicLayout.astro';
import ButtonContainer from '../components/ButtonContainer.astro';

---

<BasicLayout pagetitle={"Semii"}, title={"welcome!"}, subtitle={null}, description={null}>

    <img id="profileImg" src="../meInAHoodyDithered2.png"
        alt="me in a light blue Hoodie with the word PINK across the chest">

    <p>Hi! <br> I'm Semii! </p>

    <p>This website is an outlet for my Creativity. Still setting up. </p>

    <p>Here are my favorite Emojis</p>

    <ul>
        <li>🫘 Explanation: Who doesn't like beans</li>
        <li>👨🏾‍🦱 Explanation: It loosely resembles me</li>
        <li>🫠 Explanation: This is what I feel when i go on Social Media sites today</li>
        <li>🌔 Explanation: The moon is my favorite object in the night sky</li>
       
    </ul>

    <br>


</BasicLayout>

<footer>
    <ButtonContainer />
</footer>

<style>
    img {
        width: 10%;
        border-radius: 0%;
    }
</style>