---
import '../styles/global.css';
import BasicLayout from '../layouts/basicLayout.astro';
import NeocitiesButton from '../components/neocitiesButton.astro';

---

<BasicLayout pagetitle={"home"}, title={"welcome!"}, subtitle={null}, description={null}>
    <div>
        <img id="profileImg" src="../meInAHoodyDithered2.png"
            alt="me in a light blue Hoodie with the word PINK across the chest">

        <p>Hi! <br> I'm Semii! </p>

        <p>This website is an outlet for my Creativity. Still getting it up and running. </p>

        <p>Some fun facts about me:</p>

        <ul>
            <li>I enjoy staying active</li>
            <li>I've have several jobs in education</li>
            <li>I find yard work satisfying</li>
        </ul>

        <br>
        <NeocitiesButton />

    </div>

</BasicLayout>


<style>
    img {
        float: right;
    }

    div {
        background: none;
        text-align: left;
    }

    ul {
        padding-left: 20px;
        text-align: left;
    }
</style>