---
import '../styles/global.css';
import BasicLayout from '../layouts/basicLayout.astro';
import ButtonContainer from '../components/ButtonContainer.astro';

---

<BasicLayout pagetitle={"Semii"}, title={"welcome!"}, subtitle={null}, description={null}>

    <img id="profileImg" src="../meInAHoodyDithered2.png"
        alt="me in a light blue Hoodie with the word PINK across the chest">

    <p>Hi! <br> I'm Semii! </p>

    <p>
        This website is an outlet for my Creativity. Still setting up. 
        <a href="https://semii.space/">checkout my portfolio</a>
    </p>

    <p>Some fun facts about me:</p>

    <ul>
        <li>I enjoy staying active</li>
        <li>I find yard work satisfying</li>
    </ul>

    <br>
    
   
    <hr>
    <p>
        🚧This site was built with <a href="https://astro.build/">Astro</a>. I learned a lot while setting it up,
        but I realized that Astro is overkill for what I originally wanted. 
        I need fewer moving parts, so I've decided to rebuild it with
        <a href="https://github.com/xiokka/ironite/tree/main"> ironite</a>.
        Ironite doesn’t have everything I need, but since I’m in the process
        of learning Rust, this will be a great chance for me to contribute  to
        opensource.🚧
    
    </p>
   
  
    

</BasicLayout>

<footer>
    <ButtonContainer />
</footer>

<style>
    img {
        width: 10%;
        border-radius: 0%;
    }
    

</style>