---
import '../styles/global.css';
import BasicLayout from '../layouts/basicLayout.astro';
import ButtonContainer from '../components/ButtonContainer.astro';

---

<BasicLayout pagetitle={"Semii"}, title={"welcome!"}, subtitle={null}, description={null}>
    <div>
        <img id="profileImg" src="../meInAHoodyDithered2.png"
            alt="me in a light blue Hoodie with the word PINK across the chest">

        <p>Hi! <br> I'm Semii! </p>

        <p>This website is an outlet for my Creativity. Still setting it up. </p>

        <p>Some fun facts about me:</p>

        <ul>
            <li>I enjoy staying active</li>
            <li>I find yard work satisfying</li>
        </ul>

        <br>
    </div>

</BasicLayout>

<footer>
    <ButtonContainer/>
</footer>

<style>
    img {
        float: right;

    }

    div {
        background: none;
        text-align: left;

    }

    ul {
        padding-left: 20px;
        text-align: left;
    }

    footer {

        background-color: #6faf69e4;
        background-image: url('../../public/divbackround6.png');
        background-size: auto;
        background-repeat: repeat-y;

        border-radius: 5px;
        padding: 15px;

        color: #fdfdfd;

        border-radius: 5px;
        margin: 20px 0px;
    }
</style>