---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./styles/global.css"> -->


    <title>resources</title>
</head>

<body>
   
	<Navigation />
    
    <div>

        <h1>welcome</h1>
        <p> Here are some resources</p>
    
        <p><a href="p5projectinpso.html"> p5 project for inspiration </a></p>
        <p><a href="artsites.html"> resources of art </a></p>
        <p><a href="micahlist.html"> Micah website list </a></p>
        <p><a href="favarticles.html"> Articles I loved</a></p>
      

       
    </div>
    
</body>

</html>