---
import '../styles/global.css';
import BasicLayout from '../layouts/basicLayout.astro';

---

<BasicLayout pagetitle={"Micah website list"}, title={"Micah website list"}, subtitle={null}, description={"list of various tools and resources from a dear friend"}>


        


        <h2>Tools</h2>
        <p> <a href="https://www.charactercountonline.com/"> Online Character Count Tool</a>
        </p>
        <p> <a href="https://www.removepaywall.com/">removepaywall</a>  </p>
        <p> <a href="https://12ft.io/">12ft</a>  </p>
        <p> <a href="https://hammertime.cyou/en-GB">hammertime</a>  </p>
        <p> <a href="https://downdetector.com/status/discord/">downdetector</a>  </p>


        <h2>products</h2>
        <p> <a href="https://mylorals.com/collections/lorals-for-protection"> dental dams</a> </p>

        <h2>news</h2>
        <p> <a href="https://www.thepinknews.com/">thepinknews</a></p>
        
        <h2>mags and zines</h2>
        <p> <a href="https://solar.lowtechmagazine.com/"> lowtechmagazine</a> </p>

        <h2>events</h2>
        <p> <a href="https://afropunk.com/">afropunk</a> </p>
        <p> <a href="https://en.wikipedia.org/wiki/Club_Skirts_Dinah_Shore_Weekend">Club_Skirts_Dinah_Shore_Weekend</a> </p>
        
        
        <h2>reads</h2>
        <p> <a href="https://mangakakalot.com/chapter/vo939888/chapter_1">Brainrot Girlfriend Chapter</a>  </p>
        <p> <a href="https://www.versobooks.com/">versobooks</a></p>

    </BasicLayout>


