---
import '../styles/global.css';
import BasicLayout from '../layouts/basicLayout.astro';
---

<BasicLayout pagetitle={"p5.js inspo"}, title={"p5.js inspo"}, subtitle={null}, description={null}>


        <p>Here is the <a href="https://openprocessing.org/">Open processing foundation</a> official site and <a
                href="https://p5js.org/">p5.js</a> official site </p>
        <h2 id="get-inspired">Get inspired</h2>
        <hr>

        <h2><strong>blogs</strong></h2>
        <a href="https://azucenaleon.wordpress.com/2019/10/23/first-p5-js-sketch/">First p5.js sketch by azucena
            leon</a></p>
        <p><a href="https://medium.com/computational-media-by-boys-on-hudson/my-first-p5-js-drawing-d41df796568d">My
                First
                p5.js Drawing by Boys On Hudson</a></p>
        <p><a href="https://cathyatseneca.gitbooks.io/coding-projects-with-p5-js/content/chapter1.html">Drawing with
                P5.js
                by cathyatseneca</a></p>
        <p><a href="https://medium.com/computational-media/week-1-thoughts-p5-js-drawing-assignment-5f970498fced">Week
                1:
                Thoughts &amp; P5.js Drawing Assignment</a></p>
        <p><a href="https://medium.com/@yanhann10/drawing-waves-with-p5-js-444f447bdc39">Drawing waves with p5.js</a>
        </p>

        <hr>

        <h2><strong>art</strong></h2>

        <a href="https://openprocessing.org/sketch/2321196">Fragmented Square</a></p>
        <p><a href="https://p5js.org/sketches/2036000/">Zen Pots by newyellow</a></p>
        <p><a href="https://openlab.bmcc.cuny.edu/makerspace/drawing-in-p5-js/">Drawing in p5.js</a></p>
        <p><a href="https://openprocessing.org/sketch/544094/">p5.js Tree Example</a></p>
        <p><a href="https://openprocessing.org/sketch/2326212">Cat Pattern</a></p>
        <p><a href="https://openprocessing.org/sketch/2073261">Image Composition Example</a></p>
        <hr>
        <h2><strong>games</strong></h2>

        <a href="https://openprocessing.org/sketch/2328201">Shooting game</a></p>
        <p><a href="https://openprocessing.org/sketch/2332219">Oligame</a></p>
        <p><a href="https://openprocessing.org/sketch/2312482">Rapid football</a></p>

    </BasicLayout>

   