---
import '../styles/global.css';
import BasicLayout from '../layouts/basicLayout.astro';


---


<BasicLayout pagetitle={"resources"}, title={"resources"}, subtitle={null}, description={"Here are some resources i've been Collecting"}>
        
        <p><a href="../micahlist/"> Micah website list </a></p>
        <p><a href="../p5projectinpso/"> p5.js project for inspiration </a> </p>
        <p><a href="../artsites/"> resources for art and drawing </a></p>
        <p><a href="../favarticles/"> Articles I loved</a></p>
    
</BasicLayout>



<style>
        p{
                text-align: left;
                padding-left: 50px;
        }
</style>