---
import '../../styles/global.css';
import BasicLayout from '../../layouts/basicLayout.astro';

---

<BasicLayout pagetitle={"art giudes"}, title={"art & drawing giudes"}, subtitle={null}, description={"Trying to get better at drawing. Here are some resources i've accumulated over my journey so far"} >

     
        <h4>reference poses</h4>
        <p><a href="http://referenceangle.com/">referenceangle</a></p>
        <p><a href="https://www.posespace.com/ArtReferencePoses.aspx">posespace</a></p>
        <p><a href="https://quickposes.com/en/library">quickposes</a></p>
        <p><a href="https://www.sketchdaily.net/">sketchdaily</a></p>
        


        <h4>tutorials</h4>
        <p><a href="https://bueskenart.com/head-drawing-methods/">The Best Head Drawing Methods(Loomis vs Reilly vs Asaro)</a></p>
        <p><a href="https://www.proko.com/">proko drawing courses</a></p>
        <p><a href="https://kritatutorials.com/">krita tutorials</a></p>
        <p><a href="https://tips.clip-studio.com/en-us/articles/7468"> Draw Face in Any Angles (3 Methods!)</a></p>


</BasicLayout>

