---
import '../../styles/global.css';
import BasicLayout from '../../layouts/basicLayout.astro';

---


<BasicLayout pagetitle={"Coding Technical Interview"}, title={"Coding Technical Interview guides"}, subtitle={null},
    description={"I recommend looking at all resources"}>
    
    <h4>coding practice</h4>
    <ul>
        <li>
            <a href="https://open.kattis.com/">kattis</a>
        </li>
        
        <li>
            <a href="https://mwermelinger.github.io/kattis-guide/input.html">Input / Output</a>
            A guide on how thehandle input on kattis
        </li>
    </ul>
    
    
    <h4>guides</h4>

    <ul>

        <li>
            <a href="https://www.codecademy.com/resources/blog/technical-interview-guide/">Acing the Technical Interview: A Complete Guide
            </a>
        </li>

        <li>
            <a href="https://www.youtube.com/watch?v=g2o22C3CRfU"> Big-O Notation in 100 Seconds </a>
        </li>

        <li>
            <a href="https://www.youtube.com/watch?v=Q_1M2JaijjQ"> What Is Big O Notation? </a>
        </li>
    </ul>
</BasicLayout>


<style>

    ul{
        padding-left: 45px;
        padding-top: 0%;
        padding-bottom: 0%;
    }
    
    h4{
        margin: 0px;
    }
</style>