---
import '../../styles/global.css';
import BasicLayout from '../../layouts/basicLayout.astro';

---


<BasicLayout pagetitle={"articles â¤"}, title={"articles I loved"}, subtitle={null}, description={"Any articles I resonate with end up here"} >


        <p><a href="https://tonsky.me/blog/disenchantment/"> Software disenchantment</a></p>
        <p><a href="https://solar.lowtechmagazine.com/about/the-solar-website/"> the solar website</a> </p>
        <p><a href="https://www.notechmagazine.com/"> notechmagazine </a> </p>

</BasicLayout>

