---
import '../../styles/global.css';
import BasicLayout from '../../layouts/basicLayout.astro';

---

<BasicLayout pagetitle={"Micah website list"}, title={"Micah website list"}, subtitle={null}, description={"list of various tools and resources from a dear friend. Updates peridoicaly"}>


        


        <h2>Tools</h2>
        <p> <a href="https://www.charactercountonline.com/"> Online Character Count Tool</a></p>
        <!-- <p> <a href="https://www.removepaywall.com/">removepaywall</a>  </p> -->
        <p> <a href="https://12ft.io/">12ft</a>  </p>
        <p> <a href="https://hammertime.cyou/en-GB">hammertime</a>  </p>
        <p> <a href="https://downdetector.com/status/discord/">downdetector</a>  </p>
        <p> <a href="https://cupcakeipsum.com/">cupcakeipsum</a> Lorem Ipsun but fun</p>
        <p> <a href="https://www.doesthedogdie.com/">doesthedogdie</a> Trigger warnings for movies, TV, books, video games and more!</p>

        <h2>products</h2>
        <p> <a href="https://mylorals.com/collections/lorals-for-protection"> dental dams</a> </p>

        <h2>news</h2>
        <p> <a href="https://www.thepinknews.com/">thepinknews</a></p>
        
        <h2>mags and zines</h2>
        <p> <a href="https://solar.lowtechmagazine.com/"> lowtechmagazine</a> </p>
        
        <h2>collbatetive projects</h2>
        <p> <a href="https://postsecret.com/"> postsecret</a>   PostSecret is a global collection of secrets
                                                                mailed anonymously on postcards to an address
        </p>

        
        <h2>reads</h2>
        <p> <a href="https://mangakakalot.com/chapter/vo939888/chapter_1">Brainrot Girlfriend Chapter</a>Brainrot manga</p>
        <p> <a href="https://www.versobooks.com/">versobooks</a></p>
        
        <h2>forms and wikis</h2>
        <p> <a href="https://psychonautwiki.org/wiki/PsychonautWiki">Brainrot Girlfriend Chapter</a>  </p>
        <p> <a href="https://en.wikipedia.org/wiki/List_of_lost_inventions">List of lost inventions</a> </p>

        <h2>events</h2>
        <p> <a href="https://afropunk.com/">afropunk</a> </p>
        <p> <a href="https://en.wikipedia.org/wiki/Club_Skirts_Dinah_Shore_Weekend">Club_Skirts_Dinah_Shore_Weekend</a> </p>
        
        <h2>groups and collectives</h2>
        <p> <a href="https://www.babesrideout.com/">women’s motorcycle community</a> </p>
        <p> <a href="https://www.essence.com/culture/meet-caramel-curves-new-orleans-all-female-biker-club/">The Caramel Curves</a>  new orleans all female biker club</p>
        <p> <a href="https://www.vclondon.co.uk/we-are-vc">VC</a> VC is a collective that supports, encourages and helps to enable women to try out new activities and adventures all over the UK!</p>
        
        <h2>other</h2>
        <p> <a href="https://www.foodnetwork.com/recipes/food-network-kitchen/shakshuka-4621432">shakshuka</a></p>
        
        
        <h2>book rabitt hole</h2>
        <p> <a href="https://www.goodreads.com/book/show/24796547-sidewalk-oracles">Sidewalk Oracles: Playing with Signs, Symbols, and Synchronicity in Everyday Life</a></p>
        <p> <a href="https://wikispooks.com/wiki/Robert_Moss">Robert_Moss wiki page</a></p>
        

       
    </BasicLayout>


