---

---
<div class="container">
    <div class="click">
        <p>Clickable buttons</p>

        <a href="http://neocities.org"> <img src="https://neocities.org/neocities.png"> </a>

        <a href="https://www.buymeacoffee.com/semiitowhole" target="_blank">
            <img src="https://cdn.buymeacoffee.com/buttons/v2/default-red.png" alt="Buy Me A Coffee">
        </a>

        <a href="https://pinkvampyr.leprd.space/">
            <img src="https://pinkvampyr.leprd.space/assets/graphics/buttons/pinkvampyr.gif"
                alt="pinkvampyr.leprd.space">
        </a>
    </div>

    <div class="nonClick">
        <p> Non clickable buttons</p>

        <img src="../../shappicLeanBi.png" alt="shappic Leaning bi button" style="width:30%">
        <img src="../../ArArea51Portal7671construction-an.gif" alt="under construction">
    </div>
</div>

<style>

    .container{
        padding: 0px;
        margin: 0px;
        
        display: flex;
    }
    .click, .nonClick {
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;
        row-gap: 10px;
        align-content:center;
        justify-content: center;
    }

    img {
        width: 25%;
        padding: 0px;

        margin: 0px auto;
    }

    p {
        padding: 0px;
        margin: 0px;
        font-size: smaller;
    }
</style>

<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button"
    data-slug="semiitowhole" data-color="#ffffff" data-emoji="" data-font="Cookie" data-text="Buy me a coffee"
    data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#FFDD00"></script>