---

---

<div>

  
  <h1>randomly exploring  <img src="../../public/PottedPlantdithered.png" alt=""></h1>

<nav class="nav-links">
    <a class="navTabs" href="/">HOME</a>
    <a class="navTabs" href="../../resourcesPage">RESOURCES</a>
    <a class="navTabs" href="../../blog">BLOG</a>
</nav>

</div>

<style>
    img{
      width: 10%;
      float: right;
    }
    
    div{
      margin-bottom: 20px;
    }
    
    a.navTabs{
        background-color: #90a4db;
        background-image: url('../../public/ditheredleaves.png');

        padding: 8px;
        
        border-radius: 5px;
        background-size: auto;
        
        font-weight: bold;
        
    }
    
    nav{
        margin: 10px 1px 25px;
        text-align: center;
    }
     
    a.navTabs {
    color: #f4dea2;
    /* padding: 5px 10px; */
    margin: 0px 10px;

    text-decoration-line: none;
    text-transform: capitalize;


  }

  a:hover.navTabs {
    color: #90a4db;
    text-transform: uppercase;
    
    text-decoration-line: underline;
    text-decoration-color: #b2b4a8;
  }

</style>