---

---

<nav class="nav-links">

    <a href="/">HOME</a>
    <a href="../resourcesPage">RESOURCES</a>

</nav>


<style>

    a{
        background-color: rgb(23, 5, 57);
        background-image: url('../public/ditheredleaves.png');

        padding: 10px;
        border-radius: 10px;
        
        background-size: auto;
        
    }
    
    nav{
        margin: 25px;
        padding: 20px;
        text-align: center;
        background-color: #6faf69;
        border-radius: 10px;
        background-image: url('../public/dithered-image.png');
        background-size: 100px;

    }
</style>