---

---

<nav class="nav-links">

    <a class="navTabs" href="/">HOME</a>
    <a class="navTabs" href="../resourcesPage">RESOURCES</a>

</nav>


<style>

    a.navTabs{
        background-color: #90a4db;
        background-image: url('../public/ditheredleaves.png');

        padding: 8px;
        
        border-radius: 5px;
        background-size: auto;
        
        font-weight: bold;
        
    }
    
    nav{
        margin: 10px 1px 25px;
        padding: 20px;
        text-align: center;
        background-color: #6faf69;
        border-radius: 10px;
        background-image: url('../public/dithered-image.png');
        background-size: 100px;

    }
    
    a.navTabs {
    color: #f4dea2;
    padding: 5px 10px;
    margin: 5px;

    text-decoration-line: none;
    text-transform: capitalize;


  }

  a:hover.navTabs {
    color: #90a4db;
    text-transform: uppercase;
    
    text-decoration-line: underline;
    text-decoration-color: #b2b4a8;
  }

</style>