---

---

<div style="padding-bottom: 25px;">


  <!-- <h1>randomly exploring <img src="../../PottedPlantdithered.png" alt=""></h1> -->
  <h1>randomly exploring </h1>

  <nav class="nav-links">
    <a class="navTabs" href="/">Home</a>
    <a class="navTabs" href="../../resourcesPage">Resources</a>
    <a class="navTabs" href="../../art">art</a>
    <a class="navTabs" href="../../blog">Blog</a>
  </nav>

</div>


<style>
div{
  font-size: large;
}

</style>