---

---

<div style="padding-bottom: 25px;">


  <h1>randomly exploring <img src="../../PottedPlantdithered.png" alt=""></h1>

  <nav class="nav-links">
    <a class="navTabs" href="/">Home</a>
    <a class="navTabs" href="../../resourcesPage">Resources</a>
    <a class="navTabs" href="../../art">art</a>
    <a class="navTabs" href="../../blog">Blog</a>
  </nav>

</div>


<style>
  img {
    width: 10%;
    float: right;
  }

  div {
    margin-bottom: 20px;
  }

  nav {
    margin: 10px 1px 25px;
    padding: 15px 0px;
    text-align: center;
    
    font-weight: bolder;
  }

  a.navTabs {
    background-image: url('../../ditheredleaves.png');

    padding: 8px;
    margin: 0px 5px;
    border-radius: 5px;
    background-size: auto;
    color: #f4dea2;
  
    text-decoration-line: none;
    text-transform: capitalize;
    
    /* text-shadow: 2px 2px red; */
    text-shadow: 1px 2px #ff0000;

  }

  a:hover.navTabs {
    color: #90a4db;

    text-decoration-line: underline;
    text-decoration-color: #b2b4a8;
  }
</style>