---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Neocities from '../components/neocitiesButton.astro';

interface Props {
    title: string;
    // subtitle: string;
    // description: string;
}
const {title, subtitle, description} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{title}</title>
</head>

<body>
    
    <Navigation />
    
    <div>
        <h1>{title}</h1>
        <h5>{subtitle}</h1>
        
        <p>{description}</p>
        
        <slot />
    
    </div>
    

</body>

</html>

<style>

</style>